<html>
    <head>
        <title>Money formatting</title>
    </head>

    <body>
        <h3>Enter Your Value:</h3>
            <script type="text/javascript">
            function validateData() {
                var num1 = document.forms["formattingForm"]["data"].value;
                if (isNaN(num1)) {
                    alert("Please enter any number in next format (1234.1234)");
                    document.forms["formattingForm"]["data"].value = "";
                    return false;
                }
            }
            </script>
        <form id="formattingForm" onsubmit="return validateData()" action="http://localhost:5000/format" method="POST">
            <input type="text" id="data" name="data">
            <input type="submit" value="Format">
        </form>
    </body>

</html>